body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}
#app {
  background-color: #f85f73;
  display: flex;
  height: 100vh;
}
.about {
  background-color: #283c63;
  color: #fbe8d3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vw;
  cursor: context-menu;
}
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vw;
  color: #283c63;
}

#name {
  padding: 10px 0 5px 0;
}

#title {
  padding: 0 0 10px 0;
}

h1 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

a {
  color: inherit;
  text-decoration: inherit;
}

#stack {
  padding-bottom: 10px;
}

#marketing {
  padding-bottom: 5px;
}

h1 > span {
  color: #fbe8d3;
     -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

i {
   color: #fbe8d3;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
     -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

i:hover {
  color: #f85f73;
}

h1 > span:hover {
  color: #f85f73;
  cursor: context-menu;
}

li {
  color: #283c63;
   -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

li:hover {
  color: #fbe8d3;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  cursor: pointer;
}

li {
  display: inline;
  padding: 5px 5px 0 0;
}

ul {
  padding: 0;
}

#matching-projects {
  background-color: #fbe8d3;
  border-radius: 2px;
}

.matching-project {
  padding: 5px;
}
